* {
  font-family: "Open Sans", sans-serif;
}

html {
  background-color: grey;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
  padding: 0 70px;
}

.name {
  font-weight: 100;
  padding-top: 60px;
}

.navbar {
  height: 18px;
  border-bottom: 2px dashed black;
  text-align: right;

  &__link {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0 5px;
    color: black;
    cursor: pointer;

    @media (max-width: 600px) {
      border-bottom: 2px dashed black;
      margin: 5px;
      padding: 0;
    }
  }

  @media (max-width: 600px) {
    text-align: center;
    height: max-content;
    border-bottom: none;
  }
}

.navbar__link:nth-of-type(4) {
  margin-right: 0;
}

.navbar__link:hover {
  text-shadow: 0 0 1px black;
  border-bottom: 2px solid black;
}

.head {
  position: relative;
  font-size: 65px;
  line-height: 45px;
  margin-top: 0;
  padding-top: 50px;
  text-shadow: 5px 5px 0px lightgrey;

  @media (max-width: 440px) {
    text-align: center;
  }
}

.head::after {
  content: "";
  border-bottom: 3px solid black;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 1280px;

  @media (max-width: 1400px) {
    width: 100%;
  }
}

.intro-sect {
  display: flex;
  border-bottom: 2px solid black;

  @media (max-width: 730px) {
    flex-direction: column;
  }
}

.intro-column {
  margin-bottom: 25px;

  &__picture {
    width: 300px;    
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__text {
    max-width: 700px;
  }
}

.intro-column:nth-of-type(2) {
  padding-left: 50px;

  @media (max-width: 730px) {
    padding: 0;
  }
}

.intro-column-titel {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  width: max-content;
  margin: 0;
  padding-left: 10px;
  line-height: 40px;
  position: relative;

  @media (max-width: 356px) {
    font-size: 16px;
  }
}

.intro-column-titel::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  border-left: 30px solid black;
  border-bottom: 40px solid transparent;
  right: -30px;
  top: 0;
}

.intro-column-box {
  background-color: lightgrey;
  padding: 5px 20px;
}

.box-text:nth-of-type(1) {
  font-style: italic;
  font-size: 12px;
}

.box-text:nth-of-type(2) {
  font-size: 14px;
  text-align: right;
}

.intro-sect:nth-of-type(2) {
  padding-top: 45px;
}

.intro-column__skils {
  max-width: 500px;
  width: 100%;
}

.intro-skils {
  padding-top: 10px;
  max-width: 400px;

  &-scale {
    background-color: lightgray;
    font-style: italic;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
  }
}


.intro-skils-scale:nth-of-type(1),
.intro-skils-scale:nth-of-type(4) {
  width: 80%;
}

.intro-skils-scale:nth-of-type(5) {
  width: 60%;
}

.scale {
  font-size: 0;
  &__line {
    display: inline-block;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    line-height: 60px;
    text-align: right;
    height: 20px;
    width: 20%;
    box-sizing: border-box;
    font-size: 14px;
  }
}

.intro-column__work {
  max-width: 600px;
  width: 100%;
}

.my-work {
  padding: 0 0 0 20px;
  position: relative;

  &__list {
    font-size: 14px;
    padding: 0 0 5px 0;
    list-style-type: none;
  }

  &__list::before {
    color: black;
    content: "\2022";
    font-size: 45px;
    font-weight: 700;
    left: 0;
    line-height: 18px;
    position: absolute;
  }
}

.sect {
  display: flex;

  &__logo {
    width: 200px;
    padding-left: 15px;

    @media (max-width: 730px) {
      justify-content: center;
    }

  }
  &__text {
    padding: 15px 0 0 10px;
  }

  @media (max-width: 730px) {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.foot {
  max-width: 1280px;
  background-color: black;

  &-column {
    display: flex;

    @media (max-width: 730px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &-sect {
    color: white;

    &__box {
      width: max-content;

      @media (max-width: 730px) {
        width: auto;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 25px;
      margin-bottom: 5px;
    }

    &__link {
      color: white;
      text-decoration: none;

      &_decor {
        border-bottom: 1px solid white;
        text-decoration: none;
        color: white;
      }
    }
  }
}

.foot-sect:nth-of-type(1) {
  width: 240px;

  @media (max-width: 730px) {
    margin: auto;
    width: auto;
  }
}

.foot-sect:nth-of-type(2) {
  padding-left: 50px;

  @media (max-width: 730px) {
    padding: 0;
  }
}

.foot-sect:nth-of-type(3) {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 730px) {
    margin: 0;
    justify-content: center;
  }
}

.border {
  margin-top: 20px;

  &-top {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
  }
  &-middle {
    width: 260px;
    height: 260px;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 18px;
    background-color: black;
    box-sizing: border-box;
  }
  &-bot {
    width: 200px;
    height: 200px;
    border: 2px solid;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 28px;
    left: 28px;
    background-color: white;
    box-sizing: border-box;

    &__text {
      position: absolute;
      top: 50px;
      left: 50px;
      width: 20px;
      color: black;
      font-size: 30px;
    }
  }
}

.school {
  color: white;
  margin: 0;
  padding-bottom: 15px;

  &__name {
    margin: 0;
  }
}
